h1{
	color: white;
	font-family: cursive;
	font-size: 80px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}
h2{
	color: white;
	font-family: sans-serif;
	font-size: 15px;
	text-align: center;
	margin-bottom: 60px;
}
body{
	background-image: url("backg.jpg");	
	background-attachment: scroll;
	font-family: tahoma;
	font-size: 20px;
	font-weight: bold;
}
p{
	color: white;
	margin: 20px;
	font-size: 15px;

}
input{
	border:none;
	border-radius: 10px;
	padding: 5px 40px;
}
legend{
	color: white;
}
fieldset{
	border-radius: 20px;

}
form {
	background-color: black;
	opacity: 0.8;
	text-align: center;
	width: 35%;
	margin-left:80px;
	margin-right: 80px;
	margin-top: 30px;
	margin-bottom: 50px;
	float: left;
	border-radius: 20px;
	background-position: center;
	padding: 10px 10px;
}
input{
	text-align: center;
}
button{
	padding: 5px 40px;
	cursor: pointer;
	font-weight: bold;
	background: red;
	border:none;
	font-family: tahoma;
	font-size: 15px;
	font-weight: bold;
	border-radius: 20px;
	margin-top: 10px;
	color: white;
}
