body{
	background-image: url("2.jpg");
}

#navbar{
	background-color: black;
	opacity: 0.8;
	top: 0;
	float: none;
	position: absolute;
	margin-top: 35px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: microsoft yahei ui;
	font-size: 15px;
	width: 100%;
	text-align: center;
	/*justify-content: center;
	align-items: center;*/

}
#navbar ul{
	list-style: none;
	margin: 0;
	padding-bottom: 50px;
	padding-top: 70px;
}
#navbar ul li{
	float: left;
}
#navbar ul li a {
	padding: 20px 20px;
	text-decoration: none;
	color: white;

}
#navbar ul li a:hover{ 
	background-color: rgb(105,105,105);
}
#navbar ul h1{
	color: white;
	font-weight: bold;
	font-family: Microsoft JhengHei UI;
	font-size: 50px;

}
.listmenu{
	position: absolute;
	right: 27%;
}

.profiljember{
	height: 500px;
	width: 800px;
	position: absolute;
	top: 35%;
	left: 21.5%;
}

.ket1{
	font-family: Microsoft JhengHei UI;
	font-size: 20px;
	position: absolute;
	top:25%;
	left: 6%;
	color: black;
}
.ket2{
	font-family: Microsoft JhengHei UI;
	font-size: 20px;
	position: absolute;
	top:25%;
	left: 20%;
	color: black;
}
.ket3{
	font-family: Microsoft JhengHei UI;
	font-size: 20px;
	position: absolute;
	top:25%;
	left: 26.5%;
}
.judul{
	font-family: Nirmala UI;
	position: absolute;
	top: 107%;
	left: 40%;
	font-size: 45px;
}

.isi1{
	position: absolute;
	top: 120%;
	left: 20%;
	font-size: 20px;
}

#footer{
	position: absolute;
	top: 320%;
	background-color: black;
	opacity: 0.9;
	color: white;
	left: 0px;
	margin-top: 430px;
	width: 100%;
	float: left;
	display: flex;
}
.kiri{
	margin-left: 10%;
	font-family: perpetua;
	font-size: 25px;
	margin-right: 30%;

}
p.atas{
	font-family: mistral;
	font-size: 15px;
	letter-spacing: 10px;
}
.kanan{
	margin-right: 10%;
	float: right;

}
.kanan h2{
	line-height: 3px;
	font-family: rockwell;
	font-size: 40px;
}
.kanan h4{
	font-family: segoe ui emoji;
	font-size: 15px;
}