body{
	background-image: url("1.png");
	background-size: cover;
}
#navbar{
	float: none;
	position: absolute;
	margin-top: 35px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: microsoft yahei ui;
	font-size: 15px;

}
#navbar ul{
	list-style: none;
	margin: 0;
	padding: 0;

}
#navbar ul li{
	float: left;
}
#navbar ul li a {
	display: block;
	padding: 20px 20px;
	text-decoration: none;
	text-align: center;
	color: white;
}
#navbar ul li a:hover{
	background-color: rgb(105,105,105);
}
#judul{
	color: white;
	margin-top: 100px;
}
.minijudul{
	letter-spacing: 25px;
	font-family: mistral;
	font-size: 20px;

}
.judulutama{
	letter-spacing: 8px;
	line-height: 0px;
	font-family: newsgoth cn bt;
	font-size: 110px;
}
#memoquote{
	color: white;
	width: 35%;
	background-color: rgba(255,255,255,0.2);
	position: absolute;
	margin-top: 180px;
	left: 50%;
	transform: translate(-50%,-50%);
	font-family: tekton pro;
	font-size: 15px;
	border-radius: 50px;
}
#footer{
	background-color: black;
	opacity: 0.9;
	color: white;
	margin-top: 430px;width: 100%;
	float: left;
	display: flex;
}
.kiri{
	margin-left: 10%;
	font-family: perpetua;
	font-size: 25px;
	margin-right: 30%;

}
p.atas{
	font-family: mistral;
	font-size: 15px;
	letter-spacing: 10px;
}
.kanan{
	margin-right: 10%;
	float: right;

}
.kanan h2{
	line-height: 3px;
	font-family: rockwell;
	font-size: 40px;
}
.kanan h4{
	font-family: segoe ui emoji;
	font-size: 15px;
}
