

body{
	margin: 0;
	padding: 0;
	background: url(3.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.login-box{
	top: 50%;
	left: 50%;
	background: rgba(0,0,0.5,0.5);
	padding: 20px;
	width: 50%;
	color: #E6E6FA;
	margin-left: 100px;
	float: left;

}
.login-box2{
	top: 50%;
	left: 50%;
	background: rgba(0,0,0.5,0.5);
	padding: 20px;
	width: 30%;
	color: #E6E6FA;
	margin-left: 100px;float: left;
	float: left;
}